<div class="text-center">

    <h1 class="text-info">Підтвердження запиту</h1>

    <p>Ми отримали ваш запит, і найближчим часом з вами зв’яжеться хтось із нашої команди!</p>

    <img src="/images/EAGLE.png" width="70%" />
</div>

